.feedbackList {
    margin-top: 20px;
    margin-bottom: 20px;
}

.feedbackListItem {
    margin-bottom: 8px;
    font-size: 20px;
}

.feedbackListItem:nth-child(5) {
    margin-bottom: 0;
}

.positiveFeedbackTxt {
    font-size: 24px;
    color: green;
}